*{
    margin: unset;
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
div.message1{
    background-color: cornflowerblue;
    border-radius: 5px;
    color: darkblue;
    font-size: 12px;
    margin: 5px 0;
    border: 1px solid lightgrey;

}
p {
    padding: 5px;
}
div.message2{
    background-color: palegreen;
    border-radius: 5px;
    color: darkgreen;
    font-size: 12px;
    margin: 5px 0;
    border: 1px solid lightgrey;
}
div.message3{
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    color: goldenrod;
    font-size: 12px;
    margin: 5px 0;
    border: 1px solid lightgrey;
}
div.message4{
    background-color: indianred;
    border-radius: 5px;
    color: darkred;
    font-size: 12px;
    margin: 5px 0;
    border: 1px solid lightgrey;
}