*{
    margin: unset;
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
div.message1{
    background-color: #cddeff;
    border-radius: 5px;
    color: #6564b3;
    font-size: 12px;
    margin: .5rem 0;
    border: 1px solid lightgrey;

}
p {
    padding: .5rem;
}
div.message2{
    background-color: #cff3da;
    border-radius: 5px;
    color: #459061;
    font-size: 12px;
    margin: .5rem 0;
    border: 1px solid lightgrey;
}
div.message3{
    background-color: #fcfbc9;
    border-radius: 5px;
    color: #a59445;
    font-size: 12px;
    margin: .5rem 0;
    border: 1px solid lightgrey;
}
div.message4{
    background-color: #fad3d7;
    border-radius: 5px;
    color: #a0475a;
    font-size: 12px;
    margin: .5rem 0;
    border: 1px solid lightgrey;
}