.parent-box {
    height:400px;
    width:400px;
    background-color: #979797;
    display: flex;
    gap: 20px
}
.child-box {
    height: 100px;
    width: 100px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.child-box:first-child {
    position: relative;
    z-index: 1;
}